@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 68%;
}

body {
    background: black;
  color: #fafafa;
    font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

a {
    color: #338eef;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}


.header {
  color: white;
  padding: 1.6rem 0;
}

.header__title {
    color:#328eef;
  font-size: 4rem;
  margin-bottom: .4rem;
}

.header__subtitle {
    color: #fffb00;
  font-size: 3rem;
  font-weight: 300;
}

.actions__container {
    align-items: center;
    display: flex;
    min-height: 3rem;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1.6rem;

}

.actions__container--spaced {
    justify-content: space-between
}


.input {
    color: white;
    background-color: black;
    border: solid #7f7d76 .2rem;
    font-size: 1.4rem;
    font-weight: 300;
    height: 4rem;
    margin-right: 1.6rem;
    padding: .4rem .8rem;
}

.checkbox {

    align-items: baseline;
}

.checkbox > input {
    margin-right: .4rem;
}

.button {
    background: #328eef;
    border: none;
    border-bottom: 2px solid black;
    color: white;
    height: 3.9rem;
    font-size: 1.6rem;
    font-weight: 600;
    padding: .8rem;
    transition: background .3s ease, color .3s ease;
}

.button:hover {
    background: #fffb00;
    color: black;
}

.button--secondary {
    background: #888888;
    border-bottom: 2px solid #717171;
}

.button--secondary:hover {
    background: #6a6c6e;
}

.button--text {
    font-size: 2rem;
    background: none;
    border: none;
    color: #D0342C;
}

.button--text:hover {
    background: none;
    color: white;
    text-decoration: none;
}

.list-item {
    text-decoration: none;
    color: #fafafa;
    cursor: pointer;
    background: #353239;
    border: 1px solid #423e47;
    margin: 1.6rem 0;
    padding: 1rem 1.6rem;
    display: block;
    transition: background .3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.list-item__container {
    display: flex;
    font-size: 1.8rem;
    font-weight: 300;
    align-items: baseline;
}

.list-item__container > *:first-child {
    margin-right: .8rem;
}

.list-item:hover {
    background: #3d3941;
}

.list-item__title {
    font-size: 1.8rem;
    margin-bottom: .4rem
}

.list-item__subtitle {
    color: #666;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
}

.list-title {
    margin: 1rem 0 1rem;
    font-size: 2rem;
}

.empty-message {
    margin: 1rem 0;
}